body {
    margin: 0;
    color: white;
}

a {
    text-decoration: none;
    color: #1478b1;
}

a:hover {
    text-decoration: underline;
}

button:hover {
    cursor: pointer;
}

.d-none {
    display: none;
}